.food-display{
    margin: 20px;
}
.food-display h2{
  font-size: max(2vw,24px);
  font-weight: 600;
}

.food-display-list{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  margin: 30px;
  gap: 30px;
  row-gap: 50px;
}