.food-item{
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  transition:  0.3s;
  animation: fadeIn 1s;
}

.food-item-img{
  width: 100%;
  border-radius:15px 15px 0px 0px;
}

.food-item-info{
  padding: 20px;

}

.food-item-name-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-name-rating p{
  font-size: 20px;
  font-weight: 500;
}

.food-item-name-rating img{
  width: 70px;
}

.food-display-desc{
  font-size: 14px;
  color: #555;
}
.food-item-price{
 color: tomato;
 font-size: 22px;
 font-weight: 500;
 margin-top: 10px 0px;
}

.food-item-img-container{
  position: relative;
}

.food-item-img-container .add{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.food-item-counter{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.food-item-counter img{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

